* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
body {
    display: flex;
}
main {
    width: 100%;
}
.introducao {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 20px;
}
#texto-introducao {
    text-align: center;
    width: 50%;
}
#formulario {
    padding: 60px 40px;
    width: 100%;
}
.lista {
    padding: 20px;
}
.titulo {
    text-align: center;
    padding-bottom: 20px;
}
#titulo-principal {
    font-size: 2em;
}
.img-lista img {
    border-radius: 25px;
}
.descricao {
    padding-top: 20px;
    padding-bottom: 20px;
}
#projetos {
    width: 100%;
}
.item-lista {
    display: block;
    width: 340px;
    list-style-type: none;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 25px;
}
#lista-form {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.descricao {
    font-size: 1.12em;
}
.botao-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao {
    font-size: 1.12em;
    background-color: rgb(91, 190, 84);
    padding: 10px 30px;
    border-style: none;
    border-radius: 25px;
}
.botao:hover {
    font-size: 1.3em;
    background-color: rgba(91, 190, 84, 0.574);
    cursor: pointer;
}
